.game {
  max-width: 20.9375rem;
  margin-inline: auto;
}

.top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3.125rem;
}

.top img {
  width: 3.25rem;
  height: 3.25rem;
}

.top button {
  background-color: var(--dpurple);
  color: var(--white);
  width: 6.75rem;
  height: 2.4375rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.25rem;
  border: none;
  border-radius: 1.25rem;
}

.container {
  width: 100%;
  padding-bottom: 8.5rem;
  position: relative;
}

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 6.0625rem auto;
  column-gap: 0.9375rem;
  row-gap: 2.3125rem;
}

.player1,
.player2 {
  background-color: var(--white);
  width: 9.25rem;
  height: 5.4375rem;
  border-radius: 1.25rem;
  border: 0.1875rem solid var(--black);
  text-align: center;
  padding: 0.625rem 0;
  box-shadow: 0 0.625rem 0 var(--black);
  position: relative;
}

.player1 {
  justify-self: flex-end;
}
.player2 {
  justify-self: flex-start;
}

.player1 h2,
.player2 h2 {
  color: var(--black);
  font-size: 1rem;
  line-height: 1.25rem;
  text-transform: uppercase;
  margin-bottom: 1px;
}

.score1,
.score2 {
  color: var(--black);
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.5625rem;
}

.player1 img {
  position: absolute;
  top: calc(50% - 1.6875rem);
  left: -1.6875rem;
  z-index: 1;
}
.player2 img {
  position: absolute;
  top: calc(50% - 1.6875rem);
  right: -1.6875rem;
  z-index: 1;
}

/* BOARD START */

.board {
  width: 100%;
  height: fit-content;
  position: relative;
  grid-column: span 2;
}

.black {
  display: block;
  position: relative;
  z-index: 1;
}

.white {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  pointer-events: none;
  /* display: none; */
}

.black img,
.white img {
  width: 100%;
  vertical-align: bottom;
}

.boardGrid {
  background-color: black;
  opacity: 0.7;
  width: 100%;
  /* height: auto; */
  /* aspect-ratio: 7/6; */
  /* height: calc(width - width / 7); */
  height: calc(width - 1rem);
  display: grid;
  grid-template-columns: repeat(7, calc((100% - 1.875rem) / 7));
  grid-template-rows: repeat(6, calc((100% - 1.5625rem) / 6));
  column-gap: 0.3125rem;
  row-gap: 0.3125rem;
  padding: 0.4375rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 6;
  /* z-index: 2; */
}

.boardGrid > div {
  background-color: yellow;
  width: 100%;
  aspect-ratio: 1;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.boardGrid > :nth-child(7n) {
  animation: 1.5s 1s ease-in-out column1fade;
  animation-iteration-count: 2;
}

.boardGrid > :nth-child(7n - 1) {
  animation: 1.5s 1s ease-in-out column2fade;
  animation-iteration-count: 2;
}

.boardGrid > :nth-child(7n - 2) {
  animation: 1.5s 1s ease-in-out column3fade;
  animation-iteration-count: 2;
}

.boardGrid > :nth-child(7n - 3) {
  animation: 1.5s 1s ease-in-out column4fade;
  animation-iteration-count: 2;
}

.boardGrid > :nth-child(7n - 4) {
  animation: 1.5s 1s ease-in-out column5fade;
  animation-iteration-count: 2;
}

.boardGrid > :nth-child(7n - 5) {
  animation: 1.5s 1s ease-in-out column6fade;
  animation-iteration-count: 2;
}

.boardGrid > :nth-child(7n - 6) {
  animation: 1.5s 1s ease-in-out column7fade;
  animation-iteration-count: 2;
}

.boardGrid div[data-stage="top"] img {
  display: none;
}

.boardGrid div[data-stage="drop"] img {
  animation: dropin 0.2s, bounce 1s 0.1s cubic-bezier(0.28, 0.84, 0.42, 1);
}

.boardGrid > div picture {
  display: block;
  width: 100%;
}

.boardGrid > div picture img {
  width: 100%;
  vertical-align: bottom;
  position: relative;
}

.winningCounter {
  width: 1.25rem;
  height: 1.25rem;
  border: 0.375rem solid var(--white);
  border-radius: 50%;
  position: absolute;
  left: calc(50% - 0.625rem);
  bottom: calc(50% - 0.6875rem);
  opacity: 0;
  animation: 2.3s 1s infinite ease-in-out fade;
}

.marker {
  width: 0.9375rem;
  height: auto;
  position: absolute;
  left: calc(50% - 0.46875rem);
  top: -1.4rem;
}

@keyframes column1fade {
  50% {
    background-color: blue;
    opacity: 0.6;
  }
}
@keyframes column2fade {
  50% {
    background-color: turquoise;
    opacity: 0.6;
  }
}
@keyframes column3fade {
  50% {
    background-color: darkgreen;
    opacity: 0.6;
  }
}
@keyframes column4fade {
  50% {
    background-color: limegreen;
    opacity: 0.6;
  }
}
@keyframes column5fade {
  50% {
    background-color: orangered;
    opacity: 0.6;
  }
}
@keyframes column6fade {
  50% {
    background-color: red;
    opacity: 0.6;
  }
}
@keyframes column7fade {
  50% {
    background-color: palevioletred;
    opacity: 0.6;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes dropin {
  0% {
    top: -18.75rem;
  }
  100% {
    top: 0;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-3.125rem);
  }
  50% {
    transform: translateY(0);
  }
  57% {
    transform: translateY(-0.625rem);
  }
  64% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

/* BOARD END */

.redTurn,
.yellowTurn {
  width: fit-content;
  position: absolute;
  bottom: 0;
  left: calc(50% - 6.15625rem);
  z-index: 3;
}

.redTurn > div,
.yellowTurn > div {
  width: fit-content;
  position: relative;
}

.redTurn img,
.yellowTurn img {
  vertical-align: bottom;
}

.detail {
  width: 8.125rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
  position: absolute;
  bottom: 2rem;
  left: calc(50% - 4.0625rem);
  z-index: 4;
}

.indicator {
  color: var(--white);
  font-weight: 700;
  line-height: 1.25rem;
  text-transform: uppercase;
}

.yellowTurn .indicator {
  color: var(--black);
}

.time {
  color: var(--white);
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 4.4375rem;
}

.yellowTurn .time {
  color: var(--black);
}

.win {
  background-color: var(--white);
  border: 0.1875rem solid var(--black);
  width: 18.1875rem;
  border-radius: 1.25rem;
  padding: 1.0625rem 0;
  text-align: center;
  box-shadow: 0 0.625rem 0 var(--black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: calc(50% - 9.09375rem);
  z-index: 3;
}

.win .indicator {
  color: var(--black);
  line-height: 1rem;
}

.wins {
  color: var(--black);
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 4.4375rem;
  text-transform: uppercase;
}

.win button {
  background-color: var(--dpurple);
  color: var(--white);
  height: 2.4375rem;
  width: 8.125rem;
  font-weight: 700;
  border: none;
  border-radius: 1.25rem;
  text-transform: uppercase;
}

.patternPlaying,
.patternPlayer1Wins,
.patternPlayer2Wins {
  background-color: var(--dpurple);
  width: 100%;
  height: calc(50% - 12.8125rem);
  border-radius: 3.75rem 3.75rem 0 0;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -3;
}

.patternPlayer1Wins {
  background-color: var(--red);
}
.patternPlayer2Wins {
  background-color: var(--yellow);
}

/* MENU START*/

.backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.menu {
  background-color: var(--purple);
  width: 100%;
  border: 0.1875rem solid var(--black);
  border-radius: 2.5rem;
  padding: 1.875rem 1.0625rem 1.6875rem 1.0625rem;
  box-shadow: 0 0.625rem 0 var(--black);
  position: absolute;
  top: 3rem;
  left: 0;
  z-index: 11;
}

.menu h3 {
  color: var(--white);
  font-size: 3.5rem;
  text-transform: uppercase;
  line-height: 4.4375rem;
  text-align: center;
  margin-bottom: 1.6875rem;
}

.menu button,
.menu a {
  width: 100%;
  height: 4.5rem;
  text-transform: uppercase;
  text-decoration: none;
  border: 0.1875rem solid var(--black);
  border-radius: 1.25rem;
  box-shadow: 0px 0.625rem 0px var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn1,
.btn2 {
  background-color: var(--white);
  margin-bottom: 1.5rem;
}
.btn3 {
  background-color: var(--red);
}

.menu h4 {
  color: var(--black);
  font-size: 1.5rem;
  line-height: 1.9375rem;
  text-decoration: none;
}

.btn3 h4 {
  color: var(--white);
}

/* MENU END */

@media (hover: hover) {
  .top button:hover {
    background-color: var(--red);
  }
  .boardGrid > :nth-child(1):has(~ :nth-child(7n - 6):hover),
  .boardGrid > :nth-child(2):has(~ :nth-child(7n - 5):hover),
  .boardGrid > :nth-child(3):has(~ :nth-child(7n - 4):hover),
  .boardGrid > :nth-child(4):has(~ :nth-child(7n - 3):hover),
  .boardGrid > :nth-child(5):has(~ :nth-child(7n - 2):hover),
  .boardGrid > :nth-child(6):has(~ :nth-child(7n - 1):hover),
  .boardGrid > :nth-child(7):has(~ :nth-child(7n):hover),
  .boardGrid > :nth-child(1):hover,
  .boardGrid > :nth-child(2):hover,
  .boardGrid > :nth-child(3):hover,
  .boardGrid > :nth-child(4):hover,
  .boardGrid > :nth-child(5):hover,
  .boardGrid > :nth-child(6):hover,
  .boardGrid > :nth-child(7):hover {
    background-color: hsla(347, 97%, 70%, 0.3);
    opacity: 1;
  }
  .boardGrid > :nth-child(1):has(~ :nth-child(7n - 6):hover) .marker,
  .boardGrid > :nth-child(2):has(~ :nth-child(7n - 5):hover) .marker,
  .boardGrid > :nth-child(3):has(~ :nth-child(7n - 4):hover) .marker,
  .boardGrid > :nth-child(4):has(~ :nth-child(7n - 3):hover) .marker,
  .boardGrid > :nth-child(5):has(~ :nth-child(7n - 2):hover) .marker,
  .boardGrid > :nth-child(6):has(~ :nth-child(7n - 1):hover) .marker,
  .boardGrid > :nth-child(7):has(~ :nth-child(7n):hover) .marker,
  .boardGrid > :nth-child(1):hover .marker,
  .boardGrid > :nth-child(2):hover .marker,
  .boardGrid > :nth-child(3):hover .marker,
  .boardGrid > :nth-child(4):hover .marker,
  .boardGrid > :nth-child(5):hover .marker,
  .boardGrid > :nth-child(6):hover .marker,
  .boardGrid > :nth-child(7):hover .marker {
    display: block !important;
  }
  .win button:hover {
    background-color: var(--red);
  }
  .menu a:hover,
  .menu button:hover {
    border: 0.1875rem solid var(--dpurple);
    box-shadow: 0px 0.625rem 0px var(--dpurple);
  }
}

@media (max-width: 23.125rem) {
  .top {
    margin-bottom: 1.5rem;
    flex-direction: column;
    gap: 0.5rem;
  }
  .container {
    padding-bottom: 7.1875rem;
  }
  .grid {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 6.0625rem 6.0625rem auto;
    column-gap: 0;
    row-gap: 1rem;
  }
  .board {
    grid-column: span 1;
  }
  .boardGrid {
    padding: 0.3125rem;
  }
  .player1,
  .player2 {
    justify-self: center;
  }
  .winningCounter {
    width: 1rem;
    height: 1rem;
    border: 0.25rem solid var(--white);
    left: calc(50% - 0.5rem);
    bottom: calc(50% - 0.5625rem);
  }
  .win {
    width: 10.625rem;
    padding-inline: 0.625rem;
    left: calc(50% - 5.3125rem);
  }
  .wins {
    color: var(--black);
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.8125rem;
    text-transform: uppercase;
  }
  .redTurn,
  .yellowTurn {
    bottom: 0.5rem;
    left: calc(50% - 5rem);
  }
  .redTurn img,
  .yellowTurn img {
    width: 10rem;
  }
  .detail {
    bottom: 1.5rem;
  }
  .yellowTurn .indicator,
  .redTurn .indicator {
    font-size: 0.8rem;
  }
  .time {
    font-size: 2rem;
    line-height: 2.8125rem;
  }
  .patternPlaying,
  .patternPlayer1Wins,
  .patternPlayer2Wins {
    height: calc(50% - 16.5625rem);
  }
  .menu h3 {
    font-size: 2rem;
    line-height: 2.8125rem;
    margin-bottom: 1rem;
  }
  .menu h4 {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

@media (max-width: 18rem) {
  .container {
    padding-bottom: 7.8125rem;
  }
  .winningCounter {
    width: 0.75rem;
    height: 0.75rem;
    border: 0.1875rem solid var(--white);
    left: calc(50% - 0.375rem);
    bottom: calc(50% - 0.4375rem);
  }
  .patternPlaying,
  .patternPlayer1Wins,
  .patternPlayer2Wins {
    height: calc(50% - 14.0625rem);
  }
}

@media (min-width: 48rem) {
  .game {
    max-width: 39.5rem;
  }
  .top {
    margin-bottom: 2rem;
  }
  .container {
    padding-bottom: 7.1875rem;
  }
  .grid {
    grid-template-rows: 7.25rem auto;
    column-gap: 2.1875rem;
    row-gap: 3rem;
  }
  .player1,
  .player2 {
    width: 17.375rem;
    height: 6.625rem;
    padding: 0 1.25rem 0 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.25rem;
  }
  .player2 {
    padding: 0 0 0 1.25rem;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
  .player1 h2,
  .player2 h2 {
    font-size: 1.25rem;
    line-height: 1.625rem;
    margin-bottom: 0px;
  }
  .score1,
  .score2 {
    min-width: 6.375rem;
    font-size: 3.5rem;
    line-height: 4.4375rem;
  }
  .boardGrid {
    grid-template-columns: repeat(7, calc((100% - 5.25rem) / 7));
    grid-template-rows: repeat(6, calc((100% - 4.375rem) / 6));
    column-gap: 0.875rem;
    row-gap: 0.875rem;
    padding: 0.9375rem;
  }
  .boardGrid > div picture {
    height: 100%;
    display: flex;
    align-items: center;
    padding-top: 0.5rem;
    padding-inline: 0.15rem;
  }
  .winningCounter {
    width: 2.125rem;
    height: 2.125rem;
    left: calc(50% - 1.0625rem);
    bottom: calc(50% - 1.125rem);
  }
  .marker {
    width: 2.375rem;
    left: calc(50% - 1.1875rem);
    top: -3.25rem;
  }
  .patternPlaying,
  .patternPlayer1Wins,
  .patternPlayer2Wins {
    height: calc(50% - 19.6875rem);
  }
  .menu {
    width: 30.375rem;
    padding: 3.125rem 2.3125rem 2.9375rem 2.3125rem;
    top: 11.4rem;
    left: calc(50% - 15.1875rem);
  }
  .menu h3 {
    margin-bottom: 2.5625rem;
  }
}

@media (min-width: 69rem) {
  .game {
    max-width: 65rem;
  }
  .top {
    max-width: 39.5rem;
    margin-inline: auto;
    margin-bottom: 3.1875rem;
  }
  .grid {
    grid-template-columns: 9.1875rem 39.5rem 9.1875rem;
    grid-template-rows: auto;
    grid-template-areas: "player1 board player2";
    column-gap: 3.5625rem;
    row-gap: 0;
  }
  .board {
    grid-area: board;
  }
  .player1 {
    grid-area: player1;
  }
  .player2 {
    grid-area: player2;
  }
  .player1,
  .player2 {
    width: 9.1875rem;
    height: 10.375rem;
    padding: 2.875rem 0 1.0625rem 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0;
    align-self: center;
    margin-bottom: 6rem;
  }
  .player2 {
    padding: 2.875rem 0 1.0625rem 0;
    flex-direction: column;
    justify-content: flex-start;
  }
  .score1,
  .score2 {
    min-width: fit-content;
  }
  .player1 img {
    top: -1.84375rem;
    left: calc(50% - 1.6875rem);
  }
  .player2 img {
    top: -1.84375rem;
    right: calc(50% - 1.6875rem);
  }
  .patternPlaying,
  .patternPlayer1Wins,
  .patternPlayer2Wins {
    height: calc(50% - 14.375rem);
  }
}
