.game {
  max-width: 335px;
  margin-inline: auto;
}

.top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.top button {
  background-color: var(--dpurple);
  color: var(--white);
  width: 108px;
  height: 39px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 20px;
  border: none;
  border-radius: 20px;
}

.container {
  width: 100%;
  padding-bottom: 136px;
  position: relative;
}

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 97px auto;
  column-gap: 15px;
  row-gap: 37px;
}

.player1,
.player2 {
  background-color: var(--white);
  width: 148px;
  height: 87px;
  border-radius: 1.25rem;
  border: 3px solid var(--black);
  text-align: center;
  padding: 10px 0;
  box-shadow: 0 10px 0 var(--black);
  position: relative;
}

.player1 {
  justify-self: flex-end;
}
.player2 {
  justify-self: flex-start;
}

.player1 h2,
.player2 h2 {
  color: var(--black);
  font-size: 1rem;
  line-height: 1.25rem;
  text-transform: uppercase;
  margin-bottom: 1px;
}

.score1,
.score2 {
  color: var(--black);
  font-size: 2rem;
  font-weight: 700;
  line-height: 41px;
}

.player1 img {
  position: absolute;
  top: calc(50% - 27px);
  left: -27px;
  z-index: 1;
}
.player2 img {
  position: absolute;
  top: calc(50% - 27px);
  right: -27px;
  z-index: 1;
}

/* BOARD START */

.board {
  width: 100%;
  height: fit-content;
  position: relative;
  grid-column: span 2;
}

.black {
  display: block;
  position: relative;
  z-index: 1;
}

.white {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  pointer-events: none;
}

.black img,
.white img {
  width: 100%;
  vertical-align: bottom;
}

.boardGrid {
  width: 100%;
  /* height: auto; */
  aspect-ratio: 7/6;
  display: grid;
  grid-template-columns: repeat(7, calc((100% - 30px) / 7));
  grid-template-rows: repeat(6, calc((100% - 25px) / 6));
  column-gap: 5px;
  row-gap: 5px;
  padding: 7px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.boardGrid > div {
  width: 100%;
  cursor: pointer;
  position: relative;
}

.boardGrid > :nth-child(7n) {
  animation: 1.5s 1s ease-in-out column1fade;
  animation-iteration-count: 2;
}

.boardGrid > :nth-child(7n - 1) {
  animation: 1.5s 1s ease-in-out column2fade;
  animation-iteration-count: 2;
}

.boardGrid > :nth-child(7n - 2) {
  animation: 1.5s 1s ease-in-out column3fade;
  animation-iteration-count: 2;
}

.boardGrid > :nth-child(7n - 3) {
  animation: 1.5s 1s ease-in-out column4fade;
  animation-iteration-count: 2;
}

.boardGrid > :nth-child(7n - 4) {
  animation: 1.5s 1s ease-in-out column5fade;
  animation-iteration-count: 2;
}

.boardGrid > :nth-child(7n - 5) {
  animation: 1.5s 1s ease-in-out column6fade;
  animation-iteration-count: 2;
}

.boardGrid > :nth-child(7n - 6) {
  animation: 1.5s 1s ease-in-out column7fade;
  animation-iteration-count: 2;
}

.boardGrid div[data-stage="top"] img {
  display: none;
}

.boardGrid div[data-stage="drop"] img {
  animation: dropin 0.2s, bounce 1s 0.1s cubic-bezier(0.28, 0.84, 0.42, 1);
}

.boardGrid > div picture {
  display: block;
  width: 100%;
}

.boardGrid > div picture img {
  width: 100%;
  vertical-align: bottom;
  position: relative;
}

.winningCounter {
  width: 20px;
  height: 20px;
  border: 6px solid var(--white);
  border-radius: 50%;
  position: absolute;
  left: calc(50% - 10px);
  bottom: calc(50% - 11px);
  opacity: 0;
  animation: 2.3s 1s infinite ease-in-out fade;
}

@keyframes column1fade {
  50% {
    background-color: blue;
    opacity: 0.6;
  }
}
@keyframes column2fade {
  50% {
    background-color: turquoise;
    opacity: 0.6;
  }
}
@keyframes column3fade {
  50% {
    background-color: darkgreen;
    opacity: 0.6;
  }
}
@keyframes column4fade {
  50% {
    background-color: limegreen;
    opacity: 0.6;
  }
}
@keyframes column5fade {
  50% {
    background-color: orangered;
    opacity: 0.6;
  }
}
@keyframes column6fade {
  50% {
    background-color: red;
    opacity: 0.6;
  }
}
@keyframes column7fade {
  50% {
    background-color: palevioletred;
    opacity: 0.6;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes dropin {
  0% {
    top: -300px;
  }
  100% {
    top: 0;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(0);
  }
  57% {
    transform: translateY(-10px);
  }
  64% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

/* BOARD END */

.turn {
  width: fit-content;
  position: absolute;
  bottom: 0;
  left: calc(50% - 98.5px);
  z-index: 3;
}

.turn > div {
  width: fit-content;
  position: relative;
}

.turn img {
  vertical-align: bottom;
}

.detail {
  width: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
  position: absolute;
  bottom: 2rem;
  left: calc(50% - 65px);
  z-index: 4;
}

.indicator {
  color: var(--white);
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}

.time {
  color: var(--white);
  font-size: 56px;
  font-weight: 700;
  line-height: 71px;
}

.win {
  background-color: var(--white);
  border: 3px solid var(--black);
  width: 291px;
  border-radius: 20px;
  padding: 17px 0 17px 0;
  text-align: center;
  box-shadow: 0 10px 0 var(--black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: calc(50% - 145.5px);
  z-index: 3;
}

.win .indicator {
  color: var(--black);
  line-height: 16px;
}

.wins {
  color: var(--black);
  font-size: 56px;
  font-weight: 700;
  line-height: 71px;
  text-transform: uppercase;
}

.win button {
  background-color: var(--dpurple);
  color: var(--white);
  height: 39px;
  width: 130px;
  font-weight: 700;
  border: none;
  border-radius: 20px;
  text-transform: uppercase;
}

.patternPlaying,
.patternPlayer1Wins,
.patternPlayer2Wins {
  background-color: var(--dpurple);
  width: 100%;
  height: calc(50% - 205px);
  border-radius: 60px 60px 0 0;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -3;
}

/* MENU START*/

.backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.menu {
  background-color: var(--purple);
  width: 100%;
  border: 3px solid var(--black);
  border-radius: 40px;
  padding: 30px 17px 27px 17px;
  box-shadow: 0 10px 0 var(--black);
  position: absolute;
  top: 3rem;
  left: 0;
  z-index: 11;
}

.menu h3 {
  color: var(--white);
  font-size: 56px;
  text-transform: uppercase;
  line-height: 71px;
  text-align: center;
  margin-bottom: 27px;
}

.menu button,
.menu a {
  width: 100%;
  height: 4.5rem;
  text-transform: uppercase;
  text-decoration: none;
  border: 3px solid var(--black);
  border-radius: 20px;
  box-shadow: 0px 10px 0px var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn1,
.btn2 {
  background-color: var(--white);
  margin-bottom: 1.5rem;
}
.btn3 {
  background-color: var(--red);
}

.menu h4 {
  color: var(--black);
  font-size: 1.5rem;
  line-height: 31px;
  text-decoration: none;
}

.btn3 h4 {
  color: var(--white);
}

/* MENU END */

@media (hover: hover) {
  .action1:has(~ .column1:hover) {
    background-color: hsla(347, 97%, 70%, 0.3);
  }
  .action1:hover,
  .action2:hover,
  .action3:hover,
  .action4:hover,
  .action5:hover,
  .action6:hover,
  .action7:hover {
    background-color: hsla(347, 97%, 70%, 0.3);
  }

  .boardGrid > :nth-child(1):has(~ :nth-child(7n - 6):hover),
  .boardGrid > :nth-child(2):has(~ :nth-child(7n - 5):hover),
  .boardGrid > :nth-child(3):has(~ :nth-child(7n - 4):hover),
  .boardGrid > :nth-child(4):has(~ :nth-child(7n - 3):hover),
  .boardGrid > :nth-child(5):has(~ :nth-child(7n - 2):hover),
  .boardGrid > :nth-child(6):has(~ :nth-child(7n - 1):hover),
  .boardGrid > :nth-child(7):has(~ :nth-child(7n):hover),
  .boardGrid > :nth-child(1):hover,
  .boardGrid > :nth-child(2):hover,
  .boardGrid > :nth-child(3):hover,
  .boardGrid > :nth-child(4):hover,
  .boardGrid > :nth-child(5):hover,
  .boardGrid > :nth-child(6):hover,
  .boardGrid > :nth-child(7):hover {
    background-color: hsla(347, 97%, 70%, 0.3);
    opacity: 1;
  }
  /* .boardGrid :nth-child(7n - 5):hover {
    background-color: black !important;
    opacity: 1;
  } */
  .menu a:hover,
  .menu button:hover {
    border: 3px solid var(--dpurple);
    box-shadow: 0px 10px 0px var(--dpurple);
  }
}
