.container {
  width: 100%;
  max-width: 25rem;
  text-align: center;
  margin-inline: auto;
}

.container > img {
  width: 3.25rem;
  height: 3.25rem;
  margin-bottom: 4.9375rem;
}

.container a {
  width: 100%;
  height: 4.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* font-size: 1.5rem;
  line-height: 31px; */
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 1.0625rem 0 1.25rem;
  border: 0.1875rem solid var(--black);
  border-radius: 1.25rem;
  box-shadow: 0px 0.625rem 0px var(--black);
  margin-bottom: 1.5rem;
}

.btn1 {
  background-color: var(--red);
}
.btn2 {
  background-color: var(--yellow);
}
.container .btn3 {
  background-color: var(--white);
  margin-bottom: 0;
}

.container h2 {
  color: var(--black);
  font-size: 1.5rem;
  line-height: 1.9375rem;
  text-decoration: none;
}

.btn1 h2 {
  color: var(--white);
}

.background {
  display: none;
}

@media (hover: hover) {
  .container a:hover {
    border: 0.1875rem solid var(--dpurple);
    box-shadow: 0px 0.625rem 0px var(--dpurple);
  }
}

@media (max-width: 22.5rem) {
  .container h2 {
    font-size: 1rem;
  }
  .container a {
    padding: 0 0.625rem 0 0.75rem;
  }
  .container a img {
    width: 4.0625rem;
    height: auto;
  }
}

@media (max-width: 17.5rem) {
  .container a img {
    width: 2.5rem;
    height: auto;
  }
}

@media (min-width: 48rem) {
  .container {
    background-color: var(--purple);
    max-width: 30.375rem;
    border: 0.1875rem solid var(--black);
    border-radius: 2.5rem;
    padding: 4.375rem 2.5rem 3.75rem 2.5rem;
    box-shadow: 0px 0.625rem 0px var(--black);
  }
  .background {
    display: block;
    background-color: var(--dpurple);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
}
