.container {
  background-color: var(--white);
  max-width: 30.375rem;
  border-radius: 2.5rem;
  border: 0.1875rem solid var(--black);
  box-shadow: 0 0.625rem 0 var(--black);
  padding: 1.875rem 1.25rem 3.8125rem 1.25rem;
  margin-inline: auto;
  position: relative;
}

.container h2 {
  color: var(--black);
  width: 10.5625rem;
  font-size: 3.5rem;
  line-height: 4.4375rem;
  text-transform: uppercase;
  margin-bottom: 1.8125rem;
  margin-inline: auto;
}

.container h3 {
  color: var(--purple);
  font-size: 1.25rem;
  line-height: 1.625rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.container p {
  color: var(--black);
  opacity: 0.66;
  line-height: 1.25rem;
}

.container > p {
  margin-bottom: 2.0625rem;
}

.numlist {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  margin-bottom: 0.625rem;
}

.num {
  color: var(--black);
  height: 1.25rem;
  width: 0.75rem;
  font-weight: 700;
  line-height: 1.25rem;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
}

.container a {
  width: fit-content;
  display: block;
  position: absolute;
  bottom: -2.5rem;
  left: calc(50% - 2.1875rem);
}

.container a svg {
  vertical-align: bottom;
}

@media (hover: hover) {
  .container a:hover .outline {
    fill: var(--dpurple);
  }
}

@media (max-width: 20rem) {
  .container {
    padding-bottom: 2.5rem;
  }
  .container h2 {
    width: 6.25rem;
    font-size: 2rem;
    line-height: 3.125rem;
    margin-bottom: 1rem;
  }
  .container h3 {
    color: var(--purple);
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .container p {
    font-size: 0.8rem;
    line-height: 1rem;
  }
  .container > p {
    margin-bottom: 1rem;
  }
  .numlist {
    gap: 0.8rem;
  }
  .num {
    height: 1rem;
    font-size: 0.8rem;
    line-height: 1rem;
  }
}

@media (min-width: 48rem) {
  .container {
    padding: 1.875rem 2.125rem 3.375rem 2.125rem;
  }
}
